@page "/"

<PageTitle>Sobre mim</PageTitle>

<h1>Prazer, Samyla!</h1>

Este é o meu site, aqui compartilho um pouco da minha trajetória, alguns cases e artigos técnicos que escrevi (e algumas reflexões sobre a vida também!)